/* jeg har givet min body et baggrundsbillede*/
body {
    margin: 0px;
background-image: url("../untitled/kodebillede/baggrund.png")
}

/* mit profilbillede skulle have en runding og fik dermed border-radius på 50%, og en størrelse på 70% med width*/
.profilbillede{
    width: 70px;
    border-radius: 50%;
}
/*jeg ville gerne have mit profilbillede skulle være en hjemknap, men måtte i øjeblikket nøjes med den her simple knap med margin og border
som skulle ses på alle mine undersider for at komme hjem*/
.hjemknap{
    margin-left: 2px;
    border: 10px;
}

/* Nedenfor  ses alle mine navne på de forskellige sider. Jeg har valgt at hver side skulle have forskellige farvetemaer, og derfor
skulle alle navnene på hver side også ændre farve. hvis den hedder noget med h, står det for "hjem" altså min indexside. Hvis der står 1 er
det skoleprojekter, 2 er for private projekter, 3 er for om mig, og 4 er kontakt. de fik også en padding-left så de ikke lå smurt op ad
profilbilledet*/
.navnh{
    padding-left: 10px;
    color: #C38BA9;
}
.navn1{
    padding-left: 10px;
    color: white;
}

.navn2{
    padding-left: 10px;
    color: #78389F;
}

.navn3{
    padding-left: 10px;
    color: white;
}
.navn4{
    padding-left: 10px;
    color: white;
}

/* min kontainer er en måde at kalde den container, men hvor jeg ved det er en video container uden den blander sig med de andre containere,
og da jeg også allerede har en video-container længere nede, virkede det her bedre at huske. Den er derfor med til at holde
min video der hvor den skal være på siden*/

.kontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
     /*  dette er min øverste container på forsiden, og på samme måde som navnene var beskrevet længere oppe med 1-4, fungerer
     det også her, at farverne skulle skifte på alle siderne*/
.container{
    padding: 2%;
    display: flex;
    background: #FDEBF5;
}
.container1{
    padding: 2%;
    display: flex;
    background: #D1E5CA;
}
.container2{
    padding: 2%;
    display: flex;
    background: #ECDCFC;
}
.container3{
    padding: 2%;
    display: flex;
    background: #EEB7C1;
}
.container4{
    padding: 2%;
    display: flex;
    background: #C6E6ED;
}

/* Det er her min menu er, og den overordnede boks de befinder sig i. Under den ses linksne til de forskellige
 farvetemaer og undersider.*/
.desktop-nav{
    padding-bottom: 2px;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link1{
    color: #78B463;
    padding: 10px;
}

.nav-link2{
    color: #B187DB;
    padding: 10px;
}

.nav-link3{
    color: #C38BA9;
    padding: 10px;
}
.nav-link4{
    color: #52B3C8;
    padding: 10px;
}

/* her har jeg lagt linket til min uploadede youtube video i index.html*/

.video-container{
    align-items: center;
    justify-content: center;
}
    /* min videoes fylde med width og height i pixels*/
.video {
    width: 400px;
    height: 250px;
}
     /* jeg har sat en skrift lige over min vide hvor der står "introduktions video, og det er den her*/
.skrift-video{
    color: #C38BA9;
    display: flex;
    justify-content: center;
}
     /* her er mine coverbilleder til mine undersider, igen med 1-4 */
.cover1{
      width: 70%;

}
.cover2{
      width: 70%;
}
.cover3{
    width: 70%;
  }
.cover4{
      width: 70%;   
    padding: 0%;
}

.notesbog{
    width: 70%;
}

     /* min header hvor der står Multimediedesigner */
.header{
color: #AF5486;  
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
     /* mit footer på alle siderne, hvor undersiderne igen har fået 1-4 og forskellige farver*/
.footer{
    background-color: #FDEBF5;
    color: #996955;
    padding: 10px;
}

.footer1{
    background-color: #D1E5CA;
    color:
    padding: 10px;
}

.footer2{
    background-color: #ECDCFC;
    color: white;
    padding: 10px;
}

 .footer3{
     background-color: #EEB7C1;
     color:
     padding: 10px;
 }

 .footer4{
     background-color: #C6E6ED;
     color:
     padding: 10px;
 }

     /* det her er igen mærkeret med 1, hvilket vil sige underside 1 og altså skoleprojekterne. det betyder den container med farve
      hvor alle mine img-knap-projekter ligger inde i*/
.container-farve1{
    color: white;
    margin: 20px;
    padding: 40px;
    border: 30px;
    background-color: #D1E5CA;
        display: flex;
    align: center;

}
       /* det her er 2 for private projekter, og det samme som ovenstående men selvfølgelig i en anden farve*/
.container-farve2{
    color: white;
    margin: 20px;
    padding: 40px;
    border: 30px;
    background-color: #ECDCFC ;
        display: flex;
    align: center;

}
         /* det her er den lille top der ligger øverst på projektsiden med en kort introduktion til siden. det samme gælder
         container-top2 lige under, som har samme koncept*/
.container-top1{
         color: white;
        margin: 20px;
    padding: 10px;
    border: 30%;
 background-color: #D1E5CA;
       display: flex;
       justify-content: center;
}

.container-top2{
         color: white;
        margin: 20px;
    padding: 10px;
    border: 30%;
 background-color: #ECDCFC;
       display: flex;
       justify-content: center;
}

     /* her er overskriften Skole Projekter på den udnerside. Den har fået farve, størrelse og placering på siden. Det samme gælder igen
     men privateprojekter-skrift lige nedenunder, men med en anden farve.*/
.skoleprojekter-skrift{
    color: #2B6318;
            display: flex;
            justify-content: center;
    font-size: 30px;
}

.privateprojekter-skrift{
     color: #78389F;
             display: flex;
             justify-content: center;
     font-size: 30px;
 }

     /* Jeg havde tænkt mig at lave en hover-effekt på mine billeder i private projekter og skole projekter, og har derfor kaldt mine
     img for ølfør, katfør osv. og ville derefter lave en hover-effekt med img kaldet øl-hover og kat-hover. men lige i øjeblikket har de fået
     den her placering og en margin og padding som holder dem lidt adskilt og giver flottere placering*/
.ølfør {
    padding: 12px;
    margin: 2px;
}

.katfør{
    padding: 10px;
    margin: 2px;
}

.sofafør{
    padding: 15px;
    margin: 3px;
}

.redigerfør {
    padding: 30px;
    margin: 3px;
}

.kreafør{
 padding: 15px;
margin: 3px;
}

.fotofør{
       padding: 15px;
       margin: 3px;
}

       /* beskrivelsea eller A, er den skrift jeg skriver med inde i html, og den måde jeg beskriver projektet på inde i mine
       skoleprojekter-skrift og beskevelseb eller B, er i privateprojekter. jeg kalder dem a og b, da det er ligesom 1 og 2, men er
       næsten en underkategori for 1 og 2.*/
.beskrivelsea{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.beskrivelseb{
      font-size: 20px;
      display: flex;
      justify-content: center;  
}

    /* her har jeg @media som skulle gøre mit domæne mere responsive. her har jeg fået hjælp fra kodelab på zealand*/
@media(min-width: 300px){
    .video-container {
        height: 400px;
    }
}

@media(min-width: 800px){
    .cover2 {
        max-width: 600px;
    }
}